---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
SortIncludes: true
SortUsingDeclarations: true
SpaceBeforeAssignmentOperators: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Right
SpacesInParentheses: true
SpacesInAngles: true
